*{
    margin:0px 0px 0px 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top:100px;
}

.game {
    width: 100%;
    height:80vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-top: 15px solid goldenrod;
    border-bottom: 15px solid red;
}

.flash-reverso {
    position: absolute;
    bottom: 0;
    width: 120px;
    animation: pipe-animation 1.5s infinite linear;
}

.super-flash{
    width:330px;
    position: absolute;
    bottom: 0;
}

.jump-mario {
    animation: mario-animation 600ms ;
}

.central-city{
    position: absolute;
    width: 100vw;
    height: 100vh;
    animation: clouds-animation 10s infinite;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to{
        right: 100%;
    }
}

@keyframes clouds-animation {
    from{
        right: -550px;
    }
    to{
        right:  100%;
    }
}

@keyframes mario-animation{
    0% {
        bottom:0;
    }
    40% {
        bottom: 230px;
    }
    50% {
        bottom: 230px;
    }
    60%{
        bottom: 230px;
    }
    70%{
        bottom: 230px;
    }
    100%{
        bottom: 0%
    }

}