@import url('https://fonts.googleapis.com/css2? family= VT323 & display=swap');
*{
    margin:0px 0px 0px 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top:100px;
}

.score {
    font-family: 'VT323', monospace;
    display: flex;
    position: fixed;
    background-image: " ";
    text-align: center;
    margin-left: 30px;
    margin-top: 25px;
    color: red;
    width: 165px;   
    font-size: 17px;
}

.game {
    width: 100%;
    height:85vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-top: 15px solid goldenrod;
    border-bottom: 15px solid red;  
}

.flash-reverso {
    position: absolute;
    bottom: 0;
    width: 90px;
    animation: pipe-animation 2s infinite linear;
}

.super-flash{
    width:250px;
    position: absolute;
    bottom: 0;
}

.jump-mario {
    animation: mario-animation 600ms ease-out;
}

.central-city{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#button {
    font-family: 'VT323', monospace;
    position: absolute;
    font-size: 1.4rem;
    width: 100px;
    height: 40px;
    top: 240px;
    left: 51%;
    background-color: #FD0002;
    color: #fff;
    border: black 3px solid;
    box-shadow: 3px 3px rgba(63, 168, 249, 0.7);
    border-radius: 10px;
}

.over {
    position: absolute;
    top: 40%;
    left: 45%;
}

.hidden {
    display: none;
}

.final{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}    

@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to{
        right: 100%;
    }
}

@keyframes clouds-animation {
    from{
        right: -750px;
    }
    to{
        right:  100%;
    }
}

@keyframes mario-animation{
    0% {
        bottom:0;
    }
    40% {
        bottom: 180px;
    }
    50% {
        bottom: 200px;
    }
    60%{
        bottom: 200px;
    }
    70%{
        bottom: 180px;
    }
    100%{
        bottom: 0%
    }

}